/* GLOBALS
--------------------------------------------------*/
@import "globals";

/* LINKS
--------------------------------------------------*/
a:link,
a:visited {
	/*color: #fff;*/
}
.about .about-id a:link,
.about .about-id a:visited,
.index .home-id a:link,
.index .home-id a:visited,
.location .location-id a:link,
.location .location-id a:visited,
.schedule .schedule-id a:link,
.schedule .schedule-id a:visited,
.speakers .speakers-id a:link,
.speakers .speakers-id a:visited,
.sponsors .sponsors-id a:link,
.sponsors .sponsors-id a:visited {
	color: $color-red-light;
}
a:hover {
	opacity: 0.5;
	filter:alpha(opacity=5);
}
a.button:hover {
	opacity: 0.8;
	filter:alpha(opacity=8);
}

/* TYPOGRAPHY
--------------------------------------------------*/
h2 {
	small {
		display: block;
	}
}

/* STRUCTURE
--------------------------------------------------*/
.col-description {
	@include span-columns(9);
}
.col-title {
	@include span-columns(3);
}
.content.intro,
.content.story,
.sponsors-global {
	.master-column {
		padding: 3rem 1rem 1.5rem 1rem;
	}
}
footer {
	.archive {
		text-align: right;
		a:last-child {
			margin: 0;
		}
	}
	p {
		@include span-columns(6);
		margin-bottom: 0;
	}
}
header {
	background: $color-neutral;
}
.master-column {
	padding: 1.5rem 1rem 0.75rem 1rem;
}
.masthead {
	padding: 0 1rem;
	.master-column {
		background-position: 0 1.5rem;
		background-size: 24% auto;
		position: relative;
		padding-left: 0;
		padding-top: .5rem;
		.cta {
			display: none;
		}
		h1 {
			font-size: 4rem;
			@include shift(3);
			padding-left: .25rem;
			padding-top: 2.25rem;
			width: auto;
		}
		.logo {
			padding: 0;
			img {
				height: 8rem;
			}
		}
	}
}
.nav-icon-mobile {
	display: none;
}
.schedule-robust {
	img {
		float: left;
		width: 5rem;
		height: 5rem;
		-moz-border-radius: 2.5rem;
		-o-border-radius: 2.5rem;
		-webkit-border-radius: 2.5rem;
		border-radius: 2.5rem;
		margin-right: .5rem;
	}
}
.sessions {
	div {
		position: relative;
		.session-description {
			position: relative;
			position: absolute;
			left: -10%;
			top: 2rem;
			width: 120%;
			color: #fff;
			background: $color-blue-medium;
			padding: 2.25rem;
			-moz-border-radius: 1rem;
			-o-border-radius: 1rem;
			-webkit-border-radius: 1rem;
			border-radius: 1rem;
			z-index: 100;
			strong {
				display: block;
				text-align: center;
				position: absolute;
				right: .75rem;
				top: .75rem;
				color: #b3d8ea;
				background: #1a9ecd;
				font-size: .75rem;
				line-height: 1 !important;
				padding: .3rem .4rem;
				-moz-border-radius: 1.5rem;
				-o-border-radius: 1.5rem;
				-webkit-border-radius: 1.5rem;
				border-radius: 1.5rem;
			}
		}
		.session-description:before {
			display: block;
			content: "";
			position: absolute;
			left: 50%;
			top: -1rem;
			width: 0px;
			height: 0px;
			margin-left: -1rem;
			border-style: solid;
			border-width: 0 1rem 1rem 1rem;
			border-color: transparent transparent $color-blue-medium transparent;
		}
	}
}
.speakers-list {
	background: none !important;
	@include outer-container;
	div {
		@include span-columns(6);
		@include omega(2n);
		a:hover {
			opacity: 0.7;
			filter:alpha(opacity=7);
		}
		img {
			float: right;
			margin: 0 0 1rem 1rem;
			width: 8rem;
			-moz-border-radius: 4rem;
			-o-border-radius: 4rem;
			-webkit-border-radius: 4rem;
			border-radius: 4rem;
		}
	}
}
.sponsors-list {
	div {
		@include outer-container;
		dl {
			@include span-columns(6);
			@include omega(2n);
			dt {
				width: 8rem;
			}
		}
	}
}

/* HOME PAGE
--------------------------------------------------*/
.index {
	.content.intro {
		.speakers-home {
			@include outer-container;
			$grid-columns: 10;
			.cta-speakers {
				clear: both;
				position: relative;
				margin: 0;
				a {
					text-align: center;
					position: absolute;
					left: 50%;
					bottom: -2.75rem;
					width: 12rem;
					margin-left: -6rem;
				}
			}
			div {
				@include span-columns(2);
				@include omega(5n);
				dl,img {
					display: block;
					vertical-align: baseline;
				}
				dl {
					padding-left: 0;
					width: auto;
					dd,dt {
						text-align: center;
					}
				}
				img {
					width: 10rem;
					-moz-border-radius: 5rem;
					-o-border-radius: 5rem;
					-webkit-border-radius: 5rem;
					border-radius: 5rem;
					margin: 0 auto .5rem auto;
				}
			}
		}
	}
	.content.story {
		dd,li,p {
			font-size: 1.25rem;
		}
		li {
			margin-bottom: .5rem;
		}
	}
	.masthead {
		padding: 0 1rem 0 2rem;
		background-size: 100% auto;
		.logo {
			background: image_url("bubbles.svg") no-repeat right bottom;
			background-size: 70% auto;
			margin-bottom: 0;
			padding-bottom: 30rem;
			img {
				height: 11rem;
			}
		}
		.master-column {
			background-position: .5rem 12.5rem;
			background-size: 70% auto;
			h1 {
				font-size: 4rem;
				margin-left: 0;
				padding-left: .25rem;
				padding-top: 2.25rem;
				width: 75%;
				span {
					font-size: 1.75rem;
				}
			}
		}
	}
}

/* NAVIGATION
--------------------------------------------------*/
nav {
	@include outer-container;
	padding: 2rem 1.25rem;
	ul {
		display: block;
		padding: 0;
		background: none;
		.cta-id {
			display: inline-block;
		}
		li {
			display: inline-block;
			font-size: 1.25rem;
			border: 0;
			text-align: center;
			a {
				padding: 0 1rem 0 0;
			}
		}
		.location-info {
			float: right;
			font-size: 1rem;
			padding: .25rem 0 0 0;
			background: none;
			opacity: 0.7;
			filter:alpha(opacity=7);
		}
	}
}

/* TABLES
--------------------------------------------------*/
table {
	tr {
		td:first-child {
			width: 23.23176%;
		}
		td:nth-child(2),
		th:nth-child(2) {
			padding-left: 2.35765%;
		}
	}
}
