/* GLOBALS
--------------------------------------------------*/
@import "globals";

/* LINKS
--------------------------------------------------*/
a.button,button {
	display: inline-block;
	color: #fff;
	background: $color-red;
	padding: .25rem 1rem;
	text-transform: uppercase;
	@include font_display();
	font-size: 1.1rem;
	line-height: 1;
	-moz-border-radius: .3em;
	-o-border-radius: .3em;
	-webkit-border-radius: .3em;
	border-radius: .3em;
}
.cta-inline {
	text-align: center;
	margin-top: 2rem;
	.button {
		font-size: 1.25rem;
		padding: .75rem 1.75rem;
	}
}

/* COMMON
--------------------------------------------------*/
body {
	padding: 0;
}

/* TYPOGRAPHY
--------------------------------------------------*/
dd,dt,h1,h2,h3,legend,li,td,th {
	margin: 0;
}
dt,h1,h2,h3,legend,th,nav li {
	@include font_display();
	margin: 0 0 .25em 0;
	color: #fff;
}
dd,h3,li,p,td {
	color: #fff;
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}
h2,th {
	small {
		opacity: 0.7;
		filter:alpha(opacity=7);
	}
}
h3 {
	font-size: 1.25rem;
	text-transform: none;
}
small {
	font-size: .6em;
}

/* STRUCTURE
--------------------------------------------------*/
.content.intro {
	background: $color-orange;
	dd,li,p {
		font-size: 1rem;
		color: #f2dbc9;
		a:link,
		a:visited {
			color: #fff;
		}
	}
	h3 {
		margin-bottom: 0;
		padding-bottom: 0;
	}
	.master-column {
		background: image_url("bubbles-cropped.svg") no-repeat right 3rem center;
	}
}
.content.story {
	background: $color-orange-light;
	dd,li,p {
		color: #5b4a28;
	}
	ul {
		padding: 0;
		li {
			list-style: none;
			margin: 0;
			padding: 0;
		}
		li:before {
			font-family: "GoGaRuCo";
			content: "\e604";
			margin-right: .25rem;
			color: #ca8800;
		}
	}
}
footer {
	color: $color-blue-light;
	background: $color-neutral;
	.archive {
		margin-bottom: 0;
	}
	.master-column {
		padding: 1.75rem .75rem !important;
	}
	p {
		a {
			margin-right: .5rem;
		}
	}
}
.master-column {
	@include outer-container;
	padding: .75rem .75rem .5rem .75rem;
}
.masthead {
	background: $color-blue-medium;
	padding: 0;
	.cta {
		position: absolute;
		left: .75rem;
		top: 1.25rem;
		line-height: 1 !important;
	}
	h1,.logo {
		margin: 0;
	}
	h1 {
		@include span-columns(9);
		font-size: 2rem;
		line-height: .9em;
		color: $color-blue-light;
		margin: .5rem 0 0 0;
	}
	.logo {
		@include span-columns(3);
		text-align: right;
		float: right !important;
		margin-right: 0 !important;
		padding: .25rem 0 3rem 0;
		img {
			margin: 0;
			padding: 0;
			height: 5rem;
		}
	}
	.master-column {
		background: image_url("robot.svg") no-repeat .5rem 1.5rem;
		background-size: 60% auto;
	}
}
.sessions {
	div {
		h3 {
			cursor: pointer;
		}
		h3:hover {
			opacity: 0.7;
			filter:alpha(opacity=7);
		}
		.session-description {
			margin-top: .5rem;
			display: none;
		}
	}
}
.speakers-list {
	background: none !important;
	div {
		a:link,
		a:visited,
		em {
			color: #fff;
		}
		img {
			float: right;
			margin: 0 0 1rem 1rem;
			width: 8rem;
			-moz-border-radius: 4rem;
			-o-border-radius: 4rem;
			-webkit-border-radius: 4rem;
			border-radius: 4rem;
		}
	}
}
.sponsors-global {
	background: $color-blue-light;
	h2,h3,li,p {
		color: #8aacbe;
	}
	ul {
		list-style: none;
		margin: 0 0 1rem 0;
		padding: 0;
		border-bottom: 1px solid #bcdbec;
		li {
			margin: 0 1rem 1.5rem 0;
			padding: 0;
			display: inline-block;
			vertical-align: middle;
		}
	}
	ul:last-of-type {
		border: 0;
	}
}
.sponsors-list {
	div {
		dl {
			dt {
				float: right;
				width: 6rem;
				margin: 0 0 1rem 1rem;
				img {
					max-width: 100%;
				}
			}
		}
	}
}

/* HOME PAGE
--------------------------------------------------*/
.index {
	.content.intro {
		.master-column {
			background: none;
		}
		.speakers-home {
			div {
				overflow: hidden;
				margin-bottom: 2rem;
				dl,img {
					display: inline-block;
					vertical-align: middle;
				}
				dl {
					padding-left: 1rem;
					width: auto;
				}
				img {
					width: 7rem;
					-moz-border-radius: 3.5rem;
					-o-border-radius: 3.5rem;
					-webkit-border-radius: 3.5rem;
					border-radius: 3.5rem;
				}
			}
		}
	}
	.masthead {
		background: $color-blue-medium image_url("waves.svg") no-repeat left bottom;
		h1 {
			span {
				display: block;
				margin-top: .25rem;
				color: $color-orange-light;
				color: #f4c668;
				font-size: 1.5rem;
				line-height: 1;
			}
		}
		.logo {
			margin-bottom: 11rem;
		}
		.master-column {
			background-position: .5rem 12.5rem;
		}
	}
}

/* NAVIGATION
--------------------------------------------------*/
nav {
	position: relative;
	background: $color-neutral;
	.nav-icon-mobile {
		font-size: 1.75rem;
		text-align: right;
		color: $color-neutral-light;
		margin: 0;
		padding: .75rem 1rem;
	}
	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding: 0;
		background: $color-neutral-light;
		.cta-id {
			display: none;
		}
		li {
			font-size: 1.5rem;
			line-height: 1;
			margin: 0;
			padding: 0;
			border-bottom: 1px solid rgba(255,255,255,0.1);
			text-align: center;
			a {
				display: block;
				padding: .75rem 1rem;
			}
			a:link,a:visited {
				color: $color-blue-light;
			}
			a.button:link,a.button:visited {
				color: #fff;
			}
		}
		li:last-child {
			border: 0;
		}
		.location-info {
			font-size: 1rem;
			padding: .75rem 1rem;
			background: #364248;
		}
	}
}

/* TABLES
--------------------------------------------------*/
table {
	width: 100%;
	border-collapse: collapse;
	td,th {
		line-height: 1;
		text-align: left;
		padding: 1rem;
		border-bottom: 1px solid #dba331;
		h3,p {
			margin: 0;
		}
		h3 {
			color: $color-red;
		}
		/*p {
			color: #5b4a28;
		}*/
		time {
			@include font_display();
			font-size: 1.25rem;
			opacity: 0.7;
			filter:alpha(opacity=7);
		}
	}
	tr:last-child {
		td,th {
			border: 0;
		}
	}
	tr.lunch {
		td {
			background: rgba(255,255,255,0.1);
			h3 {
				color: rgba(91,74,40,0.7);
			}
		}
	}
}
