/*#logo a {background:none; min-height:0;height:0;}* html #logo a {background-image: none;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/images/themes/logos/none.png", sizingMethod="crop");}html{background-image:none;background-color:transparent;}#logo{background-image:none;background-color:transparent;}#container, html.embed{background-color:transparent;}.wufoo input.text, .wufoo textarea.textarea, .wufoo input.file, .wufoo select.select{background:#f6c664 url(/images/fieldbg.gif) repeat-x top;border:1px solid Background color 'f6c664 url(/images/fieldbg.gif) repeat-x top' is not a hex color value.#;border-bottom:1px solid Background color 'f6c664 url(/images/fieldbg.gif) repeat-x top' is not a hex color value.#;border-right:1px solid Background color 'f6c664 url(/images/fieldbg.gif) repeat-x top' is not a hex color value.#;}.safari .wufoo select.select{font-size:100% !important;}.safari .wufoo input.file{background:none;border:none;}.wufoo li.focused{background-color:transparent;}.wufoo .instruct{background-color:transparent;}#container{border:0 solid #cccccc;}.wufoo .info, .wufoo .paging-context{border-bottom:0 dotted #cccccc;}.wufoo .section h3, .wufoo .captcha, #payment .paging-context{border-top:0 dotted #cccccc;}.wufoo input.text, .wufoo textarea.textarea{}.wufoo .instruct{border:0 solid #e6e6e6;}.fixed .info{border-bottom:none;}.wufoo li.section.scrollText{border-color:#dedede;}.wufoo .info h2{font-size:160%;font-family:'refrigerator-deluxe';font-style:normal;font-weight:400;color:#ffffff;}.wufoo .info div{font-size:95%;font-family:inherit;font-style:normal;font-weight:normal;color:#5b4a28;}.wufoo .section h3{font-size:110%;font-family:inherit;font-style:normal;font-weight:normal;color:#ffffff;}.wufoo .section div{font-size:85%;font-family:inherit;font-style:normal;font-weight:normal;color:#5b4a28;}.wufoo label.desc, .wufoo legend.desc{font-size:95%;font-family:inherit;font-style:normal;font-weight:bold;color:#5b4a28;}.wufoo label.choice{font-size:100%;font-family:inherit;font-style:normal;font-weight:normal;color:#5b4a28;}.wufoo input.text, .wufoo textarea.textarea, .wufoo input.file, .wufoo select.select{font-style:normal;font-weight:normal;color:#5b4a28;font-size:100%;}{* Custom Fonts Break Dropdown Selection in IE *}.wufoo input.text, .wufoo textarea.textarea, .wufoo input.file{ font-family:inherit;}.safari .wufoo select.select{background:#f6c664 url(/images/fieldbg.gif) repeat-x top;border:1px solid Background color 'f6c664 url(/images/fieldbg.gif) repeat-x top' is not a hex color value.#;border-bottom:1px solid Background color 'f6c664 url(/images/fieldbg.gif) repeat-x top' is not a hex color value.#;border-right:1px solid Background color 'f6c664 url(/images/fieldbg.gif) repeat-x top' is not a hex color value.#;font-size:100% !important;}.wufoo li div, .wufoo li span, .wufoo li div label, .wufoo li span label{font-family:inherit;color:#5b4a28;}.safari .wufoo input.file{ font-size:100%;font-family:inherit;color:#5b4a28;}.wufoo .instruct small{font-size:80%;font-family:inherit;font-style:normal;font-weight:normal;color:#5b4a28;}.altInstruct small, li.leftHalf small, li.rightHalf small,li.leftThird small, li.middleThird small, li.rightThird small,.iphone small{color:#5b4a28 !important;}.wufoo input.btTxt{}.confirm h2{font-family:inherit;color:#5b4a28;}a.powertiny b, a.powertiny em{color:#1a1a1a !important;}.embed a.powertiny b, .embed a.powertiny em{color:#1a1a1a !important;}.pgStyle1 var, .pgStyle2 var, .pgStyle2 em, .page1 .pgStyle2 var, .pgStyle1 b, .wufoo .buttons .marker{font-family:inherit;color:#5b4a28;}.pgStyle1 var, .pgStyle2 td{border:1px solid #7c6e53;}.pgStyle1 .done var{background:#e6e6e6;border:1px solid #e6e6e6;}.pgStyle1 .selected var, .pgStyle2 var, .pgStyle2 var em{background:#6c5d3e;color:#FFFFFF;}.pgStyle1 .selected var{border:1px solid #5b4a28;}.buttons button, .buttons button:hover{color:#000000;}.likert table{background-color:transparent;}.likert thead td, .likert thead th{background-color:#e6e6e6;}.likert tbody tr.alt td, .likert tbody tr.alt th{background-color:#f5f5f5;}.likert table, .likert th, .likert td{border-color:#dedede;}.likert td{border-left:1px solid #cccccc;}.likert caption, .likert thead td, .likert tbody th label{color:#5b4a28;font-family:inherit;}.likert tbody td label{color:#6c5d3e;font-family:inherit;}.likert thead td, .likert tbody tr.alt th label, .likert tbody tr.alt td label{color:#000000;}.likert caption, .likert tbody th label{font-size:95%;}.likert tbody tr:hover td, .likert tbody tr:hover th, .likert tbody tr:hover label{background-color:transparent;color:#000000;}.likert tbody tr:hover td{border-left:1px solid #cccccc;}.wufoo #lola{background:#FFFFFF;background:rgba(255,255,255,0.5);}.wufoo #lola tbody td{border-bottom:1px solid #cccccc;border-bottom:1px solid rgba(91,74,40,0.3);}.wufoo #lola{font-family:inherit;color:#5b4a28;}.wufoo #lola tfoot th{color:#7c6e53;}.wufoo .wfo_graph h3{font-size:95%;font-family:inherit;color:#5b4a28;}.wfo_txt, .wfo_graph h4{color:#5b4a28;}.wufoo .footer h4{color:#ffffff;}.wufoo .footer span{color:#5b4a28;}.wfo_number{background-color:#f5f5f5;border-color:#dedede;}.wfo_number strong, .wfo_number em{color:#000000;}#widget, #widget body{background:transparent;}.fcNav a.show{background-color:transparent;border-color:#cccccc;}.fc table{border-left:1px solid #dedede;}.fc thead th, .fc .more th{background-color:#dedede !important;border-right:1px solid #cccccc !important;}.fc tbody td, .fc tbody th, .fc tfoot th, .fc tfoot td{background-color:transparent;border-right:1px solid #cccccc;border-bottom:1px solid #dedede;}.fc tbody tr.alt td, .fc tbody tr.alt th, .fc tbody td.alt{background-color:#f5f5f5;}.fc caption, .fcNav, .fcNav a{color:#5b4a28;}.fc tfoot, .fc thead th,.fc tbody th div, .fc tbody td.count, .fc .cards tbody td a, .fc td.percent var,.fc .timestamp span{color:#000000;}.fc .indent .count{color:#615130;}.fc .cards tbody td a span{color:#8d8169;}.fc tbody tr:hover td, .fc tbody tr:hover th,.fc tfoot tr:hover td, .fc tfoot tr:hover th{background-color:transparent;}.fc tbody tr:hover th div, .fc tbody tr:hover td, .fc tbody tr:hover var,.fc tfoot tr:hover th div, .fc tfoot tr:hover td, .fc tfoot tr:hover var{color:#000000;}.invoice thead th, .invoice tbody th, .invoice tbody td,.invoice tfoot th,.invoice .total,.invoice tfoot .last th, .invoice tfoot .last td,.invoice tfoot th, .invoice tfoot td{border-color:#dedede;}.invoice thead th, .wufoo .checkNotice{background:#f5f5f5;}.invoice th, .invoice td{color:#000000;}#ppSection, #ccSection{border-bottom:0 dotted #cccccc;}#shipSection, #invoiceSection{border-top:0 dotted #cccccc;}#container{-webkit-box-shadow:none !important;-moz-box-shadow:none !important;-o-box-shadow:none !important;box-shadow:none !important;}@media only screen and (max-width: 480px) {html{background-color:transparent;}a.powertiny b, a.powertin em{color:#1a1a1a !important;}}*/
.btTxt {
	display: inline-block !important;
	color: #fff !important;
	background: #e95868 !important;
	padding: .25rem 1rem !important;
	text-transform: uppercase !important;
	font-size: 1.1rem !important;
	line-height: 1 !important;
	-moz-border-radius: .3em !important;
	-o-border-radius: .3em !important;
	-webkit-border-radius: .3em !important;
	border-radius: .3em !important;
}
#container {
	width: 100% !important;
}
form li.error,
form li.error .desc,
form p.error,
form li.error .desc .req,
#errorLi,
#errorLi h3,
#errorLi #errorMsgLbl,
#errorLi .errorMsg {
	color: #fff !important;
	background: #e95868 !important;
	text-align: left !important;
	padding: 0 !important;
	border: 0 !important;
	-moz-border-radius: 0 !important;
	-o-border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	border-radius: 0 !important;
}
form li.error,
#errorLi #errorMsgLbl {
	padding: 1rem !important;
}
input[type="email"],
input[type="number"],
input[type="text"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="url"],
input,
input.text,
input.search,
select,
textarea,
textarea.textarea {
	background-image: none !important;
	font-family: inherit;
	font-size: inherit;
	font-weight: normal;
	color: #5b4a28;
	outline: none;
	border: 0 !important;
	outline: 0 !important;
	padding: .5rem !important;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
form li.error input[type="email"],
form li.error input[type="number"],
form li.error input[type="text"],
form li.error input[type="password"],
form li.error input[type="search"],
form li.error input[type="tel"],
form li.error input[type="url"],
form li.error input,
form li.error input.text,
form li.error input.search,
form li.error select,
form li.error textarea,
form li.error textarea.textarea {
	margin-top: .5rem !important;
	margin-bottom: .5rem !important;
}
input.submit {
	display: inline-block;
	color: #fff !important;
	background: #e95868 !important;
	padding: .25rem 1rem;
	text-transform: uppercase;
	font-size: 1.1rem;
	line-height: 1;
	-moz-border-radius: .3em;
	-o-border-radius: .3em;
	-webkit-border-radius: .3em;
	border-radius: .3em;
	cursor: pointer;
}
input.submit:hover {
	background: #2a3439 !important;
}
.instruct {
	/*width: auto !important;
	left: 0 !important;
	top: 100% !important;*/
	background: #0093c7 !important;
	-moz-border-radius: 1rem;
	-o-border-radius: 1rem;
	-webkit-border-radius: 1rem;
	border-radius: 1rem;
}
.instruct small {
	color: #fff !important;
}
.wufoo li,
.wufoo li.buttons,
.wufoo li.complex,
.wufoo li.focus,
.wufoo li.section {
	/*float: left;
	clear: none;
	width: 40% !important;*/
	margin: 0 10% 0 0 !important;
	/*padding: 0 !important;
	float: left !important;
	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	box-sizing: border-box !important;*/
}
/*.wufoo li:nth-child(even) {
	float: right;
	margin-right: 0 !important;
}*/
