<%= partial :heading, :locals => { page: data.titles.location } %>

<div class="content intro">
	<div class="master-column">
		
	</div>
</div>
<div class="content story">
	<div class="master-column">
		
	</div>
</div>