---
title: "Event Speakers | Golden Gate Ruby Conference 2014"
headline: "Speakers"
---

<div class="content intro">
	<div class="master-column">
		
	</div>
</div>
<div class="content story">
	<div class="master-column">
		
	</div>
</div>