---
title: "Event Registration | Golden Gate Ruby Conference 2014"
headline: "Registration"
---

<div class="content intro">
	<div class="master-column">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, modi, vero, eum ipsum excepturi praesentium error dolorem sapiente aperiam reprehenderit tenetur accusamus maiores vitae mollitia fuga omnis impedit repudiandae ullam.</p>
	</div>
</div>
<div class="content story">
	<div class="master-column">
		<iframe id="eventbrite" src="http://www.eventbrite.com/tickets-external?eid=9967106885&ref=etckt&v=2" frameborder="0" height="350" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
	</div>
</div>

<script>

</script>