<%= partial :heading, :locals => { page: data.titles.registration } %>

<div class="content intro">
	<div class="master-column">
		<p><%= data.registration.intro %></p>
	</div>
</div>
<div class="content story">
	<div class="master-column">
		<iframe id="eventbrite" src="http://www.eventbrite.com/tickets-external?eid=9967106885&ref=etckt&v=2" frameborder="0" height="350" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
		<p><em><strong>Refunds and Transfers:</strong> <%= data.registration.disclaimer %></em></p>
	</div>
</div>

<script>

</script>