---
title: "Event Schedule | Golden Gate Ruby Conference 2014"
headline: "Schedule"
---

<div class="content intro">
	<div class="master-column">
		<div class="col-title">
			<h2>Kickoff Parties <small>Thursday, Sep 11</small></h2>
		</div>
		<div class="col-description">
			<h3>Hacker + Maker Lounge <small>6:00–11:30 p.m.</small></h3>
			<p>Hosted By Carbon 5 Sponsored By Sharethrough</p>
			<h3>Whiskey Tasting <small>7:00–10:00 p.m.</small></h3>
			<p>Hosted By Pivotal Labs</p>
		</div>
	</div>
</div>
<div class="content story sessions">
	<div class="master-column">
		<table class="is-mobile">
			<tr>
				<th></th>
				<th>Day 1 <small>- Friday, Sep 12</small></th>
			</tr>
			<tr>
				<td><time>10:00–10:30</time></td>
				<td>
					<h3>Title of Presentation Here</h3>
					<p>by Speakername Goeshere</p>
					<p class="session-description">Data is a hot buzz word in the industry. Every day there are more startups with "Big Data" somewhere in their elevator pitch. There are dozens of devices to record how we sleep, what we eat, how much we exercise, even how often we breathe. Every action we take online generates data that is stored and analyzed. Understanding all this data can be difficult. Humans aren't designed to see patterns in thousands of lines of json or XML. We are good at seeing patterns in pictures, graphs, diagrams, and spots in the underbrush. Often a simple visualization is what you need to understand a problem. In this talk, I'll demonstrate tools that you can use to quickly generate "back-of-the-envelope" visualizations from a variety of data sets.</p>
				</td>
			</tr>
			<tr class="lunch">
				<td><time>12:00–1:30</time></td>
				<td>
					<h3>Lunch</h3>
				</td>
			</tr>
			<tr>
				<td><time>10:00–10:30</time></td>
				<td>
					<h3>Title of Presentation Here</h3>
					<p>by Speakername Goeshere</p>
					<p class="session-description">Data is a hot buzz word in the industry. Every day there are more startups with "Big Data" somewhere in their elevator pitch. There are dozens of devices to record how we sleep, what we eat, how much we exercise, even how often we breathe. Every action we take online generates data that is stored and analyzed. Understanding all this data can be difficult. Humans aren't designed to see patterns in thousands of lines of json or XML. We are good at seeing patterns in pictures, graphs, diagrams, and spots in the underbrush. Often a simple visualization is what you need to understand a problem. In this talk, I'll demonstrate tools that you can use to quickly generate "back-of-the-envelope" visualizations from a variety of data sets.</p>
				</td>
			</tr>
		</table>
		<table class="is-not-mobile schedule-robust">
			<tr>
				<th></th>
				<th>Day 1 <small>- Friday, Sep 12</small></th>
				<th>Day 2 <small>- Saturday, Sep 13</small></th>
			</tr>
			<tr>
				<td><time>10:00–10:30</time></td>
				<td>
					<%= image_tag "FPO-speaker-sm.jpg", alt: "Speakername Goeshere" %>
					<div>
						<h3>Title of Presentation Here</h3>
						<p>by Speakername Goeshere</p>
						<p class="session-description">Data is a hot buzz word in the industry. Every day there are more startups with "Big Data" somewhere in their elevator pitch. There are dozens of devices to record how we sleep, what we eat, how much we exercise, even how often we breathe. Every action we take online generates data that is stored and analyzed. Understanding all this data can be difficult. Humans aren't designed to see patterns in thousands of lines of json or XML. We are good at seeing patterns in pictures, graphs, diagrams, and spots in the underbrush. Often a simple visualization is what you need to understand a problem. In this talk, I'll demonstrate tools that you can use to quickly generate "back-of-the-envelope" visualizations from a variety of data sets.</p>
					</div>
				</td>
				<td>
					<%= image_tag "FPO-speaker-sm.jpg", alt: "Speakername Goeshere" %>
					<div>
						<h3>Title of Presentation Here</h3>
						<p>by Speakername Goeshere</p>
						<p class="session-description">Data is a hot buzz word in the industry. Every day there are more startups with "Big Data" somewhere in their elevator pitch. There are dozens of devices to record how we sleep, what we eat, how much we exercise, even how often we breathe. Every action we take online generates data that is stored and analyzed. Understanding all this data can be difficult. Humans aren't designed to see patterns in thousands of lines of json or XML. We are good at seeing patterns in pictures, graphs, diagrams, and spots in the underbrush. Often a simple visualization is what you need to understand a problem. In this talk, I'll demonstrate tools that you can use to quickly generate "back-of-the-envelope" visualizations from a variety of data sets.</p>
					</div>
				</td>
			</tr>
			<tr class="lunch">
				<td><time>12:00–1:30</time></td>
				<td>
					<h3>Lunch</h3>
				</td>
				<td>
					<h3>Lunch</h3>
				</td>
			</tr>
			<tr>
				<td><time>10:00–10:30</time></td>
				<td>
					<%= image_tag "FPO-speaker-sm.jpg", alt: "Speakername Goeshere" %>
					<div>
						<h3>Title of Presentation Here</h3>
						<p>by Speakername Goeshere</p>
						<p class="session-description">Data is a hot buzz word in the industry. Every day there are more startups with "Big Data" somewhere in their elevator pitch. There are dozens of devices to record how we sleep, what we eat, how much we exercise, even how often we breathe. Every action we take online generates data that is stored and analyzed. Understanding all this data can be difficult. Humans aren't designed to see patterns in thousands of lines of json or XML. We are good at seeing patterns in pictures, graphs, diagrams, and spots in the underbrush. Often a simple visualization is what you need to understand a problem. In this talk, I'll demonstrate tools that you can use to quickly generate "back-of-the-envelope" visualizations from a variety of data sets.</p>
					</div>
				</td>
				<td>
					<%= image_tag "FPO-speaker-sm.jpg", alt: "Speakername Goeshere" %>
					<div>
						<h3>Title of Presentation Here</h3>
						<p>by Speakername Goeshere</p>
						<p class="session-description">Data is a hot buzz word in the industry. Every day there are more startups with "Big Data" somewhere in their elevator pitch. There are dozens of devices to record how we sleep, what we eat, how much we exercise, even how often we breathe. Every action we take online generates data that is stored and analyzed. Understanding all this data can be difficult. Humans aren't designed to see patterns in thousands of lines of json or XML. We are good at seeing patterns in pictures, graphs, diagrams, and spots in the underbrush. Often a simple visualization is what you need to understand a problem. In this talk, I'll demonstrate tools that you can use to quickly generate "back-of-the-envelope" visualizations from a variety of data sets.</p>
					</div>
				</td>
			</tr>
		</table>
		<p class="cta-inline"><a href="#" class="button">REGISTER</a></p>
	</div>
</div>