---
title: "Event Schedule | Golden Gate Ruby Conference 2014"
headline: "Schedule"
---

<div class="content intro">
	<div class="master-column">
		<div class="col-title">
			<h2>Kickoff Parties <small>Thursday, Sep 11</small></h2>
		</div>
		<div class="col-description">
			<h3>Hacker + Maker Lounge <small>6:00–11:30 p.m.</small></h3>
			<p>Hosted By Carbon 5 Sponsored By Sharethrough</p>
			<h3>Whiskey Tasting <small>7:00–10:00 p.m.</small></h3>
			<p>Hosted By Pivotal Labs</p>
		</div>
	</div>
</div>
<div class="content story">
	<div class="master-column">
		<table class="is-mobile">
			<tr>
				<th></th>
				<th>Day 1 <small>- Friday, Sep 12</small></th>
			</tr>
			<tr>
				<td><time>10:00–10:30</time></td>
				<td>
					<h3>Title of Presentation Here</h3>
					<p>by Speakername Goeshere</p>
				</td>
			</tr>
			<tr class="lunch">
				<td><time>12:00–1:30</time></td>
				<td>
					<h3>Lunch</h3>
				</td>
			</tr>
			<tr>
				<td><time>10:00–10:30</time></td>
				<td>
					<h3>Title of Presentation Here</h3>
					<p>by Speakername Goeshere</p>
				</td>
			</tr>
		</table>
		<table class="is-not-mobile">
			<tr>
				<th></th>
				<th>Day 1 <small>- Friday, Sep 12</small></th>
				<th>Day 2 <small>- Saturday, Sep 13</small></th>
			</tr>
			<tr>
				<td><time>10:00–10:30</time></td>
				<td>
					<h3>Title of Presentation Here</h3>
					<p>by Speakername Goeshere</p>
				</td>
				<td>
					<h3>Title of Presentation Here</h3>
					<p>by Speakername Goeshere</p>
				</td>
			</tr>
			<tr class="lunch">
				<td><time>12:00–1:30</time></td>
				<td>
					<h3>Lunch</h3>
				</td>
				<td>
					<h3>Lunch</h3>
				</td>
			</tr>
			<tr>
				<td><time>10:00–10:30</time></td>
				<td>
					<h3>Title of Presentation Here</h3>
					<p>by Speakername Goeshere</p>
				</td>
				<td>
					<h3>Title of Presentation Here</h3>
					<p>by Speakername Goeshere</p>
				</td>
			</tr>
		</table>
		<p class="cta-inline"><a href="#" class="button">REGISTER</a></p>
	</div>
</div>