---
title: "Event Speakers | Golden Gate Ruby Conference 2014"
headline: "Speakers"
---
<!-- <ol>
  <%# data.speakers.headline.each do |t| %>
  <li><%#= t %></li>
  <%# end %>
</ol> -->

<div class="content intro">
	<div class="master-column">
		
	</div>
</div>
<div class="content story">
	<div class="master-column">
		
	</div>
</div>