---
title: "Event Speakers | Golden Gate Ruby Conference 2014"
headline: "Speakers"
---

<div class="content intro">
	<div class="master-column">
		<div class="col-title">
			<h2>Sponsors</h2>
		</div>
		<div class="col-description">
			<p>Sponsoring the Golden Gate Ruby Conference is a great way to get access to the top Ruby talent in San Francisco, and from around the world. Whether your goals are recruiting, brand awareness, developer adoption, or anything else, we bring together several hundred highly qualified engineers, in an intimate, network-heavy environment. To learn more about sponsoring, download the <a href="#">Prospectus</a> or contact <a href="#">Leah Silber</a>.</p>
		</div>
	</div>
</div>
<div class="content story">
	<div class="master-column sponsors-list">
		<h2>Diamond</h2>
		<div>
			<dl>
				<dt><%= image_tag "FPO-sponsor-logo.png", alt: "Company Name" %></dt>
				<dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, ipsum architecto impedit saepe velit aliquam quis obcaecati mollitia. Exercitationem, veniam nihil sapiente impedit ea repudiandae fuga saepe consequuntur qui ut.</dd>
			</dl>
			<dl>
				<dt><%= image_tag "FPO-sponsor-logo.png", alt: "Company Name" %></dt>
				<dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, ipsum architecto impedit saepe velit aliquam quis obcaecati mollitia. Exercitationem, veniam nihil sapiente impedit ea repudiandae fuga saepe consequuntur qui ut.</dd>
			</dl>
		</div>
		<h2>Platinum</h2>
		<div>
			<dl>
				<dt><%= image_tag "FPO-sponsor-logo.png", alt: "Company Name" %></dt>
				<dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, ipsum architecto impedit saepe velit aliquam quis obcaecati mollitia. Exercitationem, veniam nihil sapiente impedit ea repudiandae fuga saepe consequuntur qui ut.</dd>
			</dl>
			<dl>
				<dt><%= image_tag "FPO-sponsor-logo.png", alt: "Company Name" %></dt>
				<dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, ipsum architecto impedit saepe velit aliquam quis obcaecati mollitia. Exercitationem, veniam nihil sapiente impedit ea repudiandae fuga saepe consequuntur qui ut.</dd>
			</dl>
		</div>
	</div>
</div>