<%= partial :heading, :locals => { page: data.titles.submissions } %>

<div class="content intro">
	<div class="master-column">
		<% data.submissions.list.each do |item| %>
		<p><%= item.item %></p>
		<% end %>
	</div>
</div>
<div class="content story">
	<div class="master-column iframe">
		<iframe seamless="seamless" allowTransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none"  src="https://tilde.wufoo.com/embed/m3ujx7w0v9xi6z/"><a href="https://tilde.wufoo.com/forms/m3ujx7w0v9xi6z/">Fill out my Wufoo form!</a></iframe>
	</div>
</div>